


  

<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }
    </style>
</head>



<body>
    
        <center>
            <h1 style="color:green;">Hello Welcome</h1>

            <h3></h3>
        </center>
        <div>
            
            <!--Here type="text" align will not work-->
           
            <input type="image" src="Image or Logo"
                   alt="Logo or Photo" align="right">
        </div>
    </body>




    
